/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*******************************************************************************
Fonts
*******************************************************************************/

@font-face{
    font-family: 'Open Sans Light';
    src: url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('https://mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*******************************************************************************
Theme Styles
*******************************************************************************/

html {
  background: #fff;
}

body {
  box-sizing: border-box;
  color: #333;
  
  font-size: 18px;
  font-family: 'Open Sans Light',X-LocaleSpecific-Light,'Open Sans',X-LocaleSpecific,sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body #tabzilla:before {
  background: #444;
}

.center {
  max-width: 1024px;
  margin: 0 auto;
  clear: both;
}

main {
  padding-bottom: 40px;
}

main ul {
  padding-left: 30px;
  list-style-type: circle;
  margin-bottom: 20px;
}

footer {
  background: #fff;
  text-align: center;
  padding: 20px 0;
}

.wrapper {
  background: radial-gradient(ellipse at center,#eaeff2 0,rgba(212,221,228,0.5) 50%),linear-gradient(to bottom,#cae1f4 0,rgba(125,185,232,0) 100%);
  padding: 0 20px;

  border-top: 2px solid #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: -1px;

  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  text-align: center;
  color: #444;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
}

a:hover, a:focus {text-decoration: underline;}


/*******************************************************************************
Buttons
*******************************************************************************/

.buttons {
  text-align: center;
  margin: 20px 0 40px 0;
}

.button {
  padding: 3px 10px 3px 8px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  background-color: #eee;
  background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);

  background-repeat: no-repeat;
  border: 1px solid #d5d5d5;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;

  font-weight: bold;
}